{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/myresponsee.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    {% block extCSS %}

    {% endblock %}
</head>
<body>
<header>
    <nav class="background-dark">
        <div class="line">
            <div class="s-12 l-3">
                <div class="fullwidth">
                    <a href="index.html" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            {% block content1 %}

            {% endblock %}
        </div>
    </nav>
</header>
{% block content2 %}

{% endblock %}

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% block extJS %}

{% endblock %}

</body>
</html>