{% extends "base.html" %}
{% load static %}

{% block extCSS %}
    <link rel="stylesheet" href="{% static 'app/register/register.css' %}">
{% endblock %}

{% block extJS %}
    <script type="text/javascript" src="{% static 'app/register/js/register.js' %}"
    ></script>
{% endblock %}

{% block content2 %}
    <div class="container-fluid">
        <div class="form-info">

            <h2>用户注册</h2>

            <form method="post" action="{% url 'app:register' %}" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                    <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="请输入用户名">
                    <p class="help-block">请输入6-16位用户名</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" name="password" class="form-control" placeholder="请输入密码" id="pwd">
                    <p class="help-block">请输入6位以上拼音字母组合密码</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">确认密码</label>
                    <input type="password" name="confirm_password" class="form-control" placeholder="请再次输入密码" id="con_pwd">
                    <p class="help-block">请再次输入6位以上拼音字母组合密码</p>
                    <p id="con_pwd_warn"></p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">邮箱</label>
                    <input type="email" name="email" class="form-control" placeholder="请输入邮箱">
                    <p class="help-block">请输入邮箱</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">头像</label>
                    <input type="file" name="icons" id="exampleInputFile">
                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary">注册</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}





