.line {
	background-color: #1D191A;
	overflow: auto;
}

#d1 {
	float: left;
}

#d2 ul{
	float: right;
	margin-top:40px;
}

ul {
	list-style: none;
	overflow: auto;
}

#d2 li {
	float: left;
	margin-left: 40px;
	margin-right: 20px;
}

.line a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}





.sub-cate a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

h3.cate {
	color: #fff;
	font-size: 1.7em;
	padding: 0.6em;
	background: #000;
	margin: 0;
}


/*----*/

ul.kid-menu {
	display: block !important;
}

.menu {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
	margin: 0;
	background: #FBFBFC;
}

ul {
	padding: 0;
	list-style: none;
}

.menu>li>a {
	width: 100%;
	line-height: 3.5em;
	text-indent: 1.2em;
	display: block;
	position: relative;
	color: #000;
	font-size: 1.1em;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	font-weight: 700;
}

.menu ul li a {
	width: 100%;
	display: block;
	position: relative;
	font-size: 1.1em;
	font-weight: 400;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	font-weight: 700;
	line-height: 3.5em;
	text-indent: 1.2em;
}

.menu ul li a:hover {
	background: #1DBAA5;
}

.menu>li>a:hover,
.menu>li>a.active {
	background: #fff;
}

.menu ul.kid-menu li a {
	border-bottom: none;
}

ul.kid-menu {
	padding: 0;
	margin: 0;
}

ul.kid-menu li {
	list-style: none;
	border-bottom: 1px solid #ddd;
}

ul.kid-menu li.menu-kid-left {
	border-bottom: none;
}

ul.cute li {
	background: #fff;
}

.arrow-img {
	padding: 0em 0em 0 6.5em;
}

.img-arrow {
	padding: 0 0 0 8em;
}

.img-left-arrow {
	padding: 0 0 0 5.5em;
}


/*--menu--*/


/*----*/

.sub-cate,
.slide-grid,
.banner-bag,
.banner-off {
	float: left;
}

.top-nav {
	border: 1px solid #ddd;
}

.sub-cate {
	width: 27%;
	margin: 2em 2em 0 0;
}

.banner-off {
	width: 60%;
	padding: 6em 0em 6em 2em;
}

.banner-matter {
	padding: 4em 2em;
}

.shoes-grid {
	width: 70%;
	float: right;
}

.slide-grid {
	width: 100%;
	border: 1px solid #ddd;
	margin: 2em 0;
}

.banner-off h2 {
	padding: 0em;
	margin: 0;
	font-size: 4.5em;
	color: #01AFD1;
	font-weight: 600;
}

.banner-off span {
	font-size: 2em;
	color: #323A45;
	font-weight: 700;
}

.banner-off span b {
	color: #F97E76;
}

.banner-off p {
	font-size: 1em;
	color: #323A45;
	margin: 0;
	width: 90%;
	padding: 0 0 2em;
}

a.now-get {
	font-size: 1.1em;
	color: #fff;
	padding: 0.6em 0.8em;
	background: #323A45;
	text-decoration: none;
}

a.now-get:hover {
	background: #0D3F84;
}

.wmuSlider {
	position: relative;
	overflow: hidden;
}

.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}
.active{
	text-align: center;
	color:royalblue;
	background-color: #D0D0D0;
}

.goods{
	overflow: auto;
	margin-top:30px;
	height:804px;
}
.goods_detail{
	float:left;
	margin-left:10px;
	height:400px;
	width:204px;
}
.imgone{
	height:200px;
	width:200px;
}

.price{
	color:red;
	font-size:25px;
}
.goodsname{
	color: #666666;
	font-size:13px;
}
.goodssale{
	color: red;
	font-size: 15px;
}
.shop{
	color:orange;
}
		 
